#navbar-main{
	background-color: #cc0000;
}

.margin-shape{
	background-color: grey;
	height: 900px;
}

.form-col{
	background-color: white;
	height: 900px;
	padding-top: 20px;
}

#footer{
	position: fixed;
	bottom: 0;
}
