.image-wrapper{
  position: relative;
}

img {
    max-width: 100%;
    height: auto;
    opacity:1;
}

.fade{
    opacity:0.7;
}

.scale{
    transform: scale(1.4, 1.4);
	-webkit-transform: scale(1.4, 1.4);
}

#news-text::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'bastardregular';
    src: url('../../font/bastard/bastard-webfont.eot');
    src: url('../../font/bastard/bastard-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/bastard/bastard-webfont.woff2') format('woff2'),
         url('../../font/bastard/bastard-webfont.woff') format('woff'),
         url('../../font/bastard/bastard-webfont.ttf') format('truetype'),
         url('../../font/bastard/bastard-webfont.svg#bastardregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chalkdustregular';
    src: url('../../font/chalk/chalkdust-webfont.eot');
    src: url('../../font/chalk/chalkdust-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/chalk/chalkdust-webfont.woff2') format('woff2'),
         url('../../font/chalk/chalkdust-webfont.woff') format('woff'),
         url('../../font/chalk/chalkdust-webfont.ttf') format('truetype'),
         url('../../font/chalk/chalkdust-webfont.svg#chalkdustregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Handwritingg';
    src:url('../../font/Handwritingg/Handwritingg.ttf.woff') format('woff'),
        url('../../font/Handwritingg/Handwritingg.ttf.svg#Handwritingg') format('svg'),
        url('../../font/Handwritingg/Handwritingg.ttf.eot'),
        url('../../font/Handwritingg/Handwritingg.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}



        
html *{
    font-family: 'bastardregular';
}

#image-wrapper-home-main-text{
  position:absolute;
  left:0px;
  top:140px;
  /*padding: 90px;*/
  padding-top:0vw;
  padding-left:5vw;
  padding-right:5vw;
  margin: 0px;
  text-align:left;
  color:#390f0f;
  font-size: 1.7vw;
}

#main-header-image{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

#main-sub-image{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

#image-wrapper-home-news-text{
  position:absolute;
  left:10px;
  top:10px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 10px;
  font-size:1.2vw;
  margin: 0px;
  text-align:left;
  color:#643610;
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari */
  transform: rotate(-3deg);
  word-wrap:break-all;
  overflow-x: hidden;
  overflow-y: hidden;
  
}



#news-wrapper{
    width:20vw;
    height:20vw;
    overflow:hidden !important;
}

#news-text{
    width:17vw;
    height:17vw;
    white-space: pre-line;
    overflow-x: hidden;
    overflow-y: hidden;
  
}

#blackboard-text{
    width:25vw;
    height:13vw;
    overflow:hidden;
    padding-left:0.5vw;
    line-height:120%;
    font-size:0.9vw;
    font-family:'chalkdustregular';
}

#image-wrapper-home-blackboard-text{
  position:absolute;
  left:0px;
  top:10px;
  padding-top: 3.2vw;
  padding-bottom: 5vw;
  padding-left: 3.7vw;
  padding-right: 6vw;
  margin: 0px;
  text-align:left;
  color:white;
  font-size:0.75vw;
  -ms-transform: rotate(-4deg); /* IE 9 */
  -webkit-transform: rotate(-4deg); /* Safari */
  transform: rotate(-4deg);
  font-family:'chalkdustregular';
}


#blackboard-header{
  padding-left:0.5vw;
  font-size: 2vw;
  font-family:'chalkdustregular';
}

#facebook{
    width:7vw;
    height:auto;
    margin-right: 3vw;
}